
i.fas {
	margin-right: 15px;
}

.item-content {
	font-size: 14px;
}

.profile-img-grande .avatar{
	color: #fff;
    font-size: 70px;
    height: 110px;
    line-height: 110px;
    margin: 0;
    width: 110px;
}

.tieneEvento {
	text-decoration: underline;
    font-weight: 900;
}

.custom-form ul.sinbordes {
    border-top: 0px;
}
.nav-tabs .nav-link {
    padding: 15px 7px 15px 7px;
}

.gradiente {
    background: linear-gradient(50deg, #6F3E9F, transparent);
    color: #fff;
    padding: 15px;
    position: relative;
}

.notaGrande {
    font-size: 30px;
    padding: 0.35em 0.65em;
}

.padding-centro {
    padding: 0rem 1rem 0rem 1rem;
}


.table td {
    text-align: center;  
    vertical-align: middle; 
 }

 .table td.tdrojo {
    background-color: firebrick;
    filter: opacity(0.8);
    color: white;
}
.table td.tdverde {
    background-color: green;
    filter: opacity(0.5);
    color: white;
}
 
.iconomenu {
    width: 27px;
    height: 37px;
    margin-right: 1em;
    color: #fafafa
}

.responsive-image {
    text-align: center;
}

.limagen{
	padding-left: 0px !important;
	padding-right: 0px !important;

}
/* 
.div-input-centrado {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.input-ancho {
    float: right;
    line-height: 30px;
} */