
i.fas {
	margin-right: 15px;
}

.item-content {
	font-size: 14px;
}

.profile-img-grande .avatar{
	color: #fff;
    font-size: 70px;
    height: 110px;
    line-height: 110px;
    margin: 0;
    width: 110px;
}

.tieneEvento {
	text-decoration: underline;
    font-weight: 900;
}

.custom-form ul.sinbordes {
    border-top: 0px;
}
.nav-tabs .nav-link {
    padding: 15px 7px 15px 7px;
}

.gradiente {
    background: radial-gradient(green, blue);
    color: #fff;
    padding: 15px;
    position: relative;
}

.notaGrande {
    font-size: 30px;
    padding: 0.35em 0.65em;
}

.padding-centro {
    padding: 0rem 1rem 0rem 1rem;
}


/* 
.div-input-centrado {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.input-ancho {
    float: right;
    line-height: 30px;
} */